.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-buttons a {
  color: grey;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.icon-buttons a:hover {
  color: white;
}

.icon {
  font-size: 24px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer-right {
    order: 1;
    margin-bottom: 10px;
    text-align: center;
  }

  .footer-left {
    order: 2;
    text-align: center;
  }
}
