.navbar-container {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  margin: 0;
  background-color: #2d2d2d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  position: 0, 0, 0, 0;
}

.logo-minimal {
  font-weight: 900;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 40px;
}

.navbar-links a {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.navbar-links a:hover,
.navbar-links a.active {
  opacity: 1;
}

.logo-minimal {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.navbar-burger {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}
.navbar-burger button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.burger-line {
  width: 35px;
  height: 1px;
  background-color: white;
}
.navbar-burger,
.explore-btn,
.link-btn {
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
  } /* Для мобилок можно сделать выпадающее меню */
  .navbar-container {
    padding: 20px;
    width: calc(100% - 40px);
  }
}

.hire img {
  height: 24px;
  width: 24px;
  margin-left: 8px;
  vertical-align: middle;
}
a.hire {
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: white;
  color: black;
  border: none;
  border-radius: 0 0 20px 0;
  font-size: 17px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 10px rgba(239, 241, 242, 0.1);
  transition: color 0.3s ease;
}
a.hire::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -75%;
  width: 50%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  animation: shine 2.5s infinite;
  pointer-events: none;
}
a.hire:hover {
  transform: scale(1.05);
  background-color: white;
}
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
