.background-projects {
  width: 100%;
  background-color: #2927278a;
  /* padding-top: 40px; */
}
.projects-section {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.projects-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: oklch(84.42% 0.19 202.24);
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

/* .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
} */

.project-frame {
  background-color: #222;
  border-radius: 12px;
  padding: 8px;
  position: relative;
  overflow: visible;
  margin-bottom: 12px;
}

.project-frame img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  background: #000;
  image-rendering: auto; /* исправляет пиксели */
  filter: brightness(95%);
}
/* img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 12px;
  margin-bottom: 12px;
  display: block;
  background-color: rgba(30, 30, 30, 0.7);
} */

.project-card {
  width: 90%;
  max-width: 400px;
  background-color: #111;
  border-radius: 16px;
  padding: 24px;
  color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  transition: transform 0.3s;
}
.project-card:hover {
  transform: scale(1.05) translateY(-6px);
  box-shadow: 0 16px 32px oklch(84.42% 0.19 202.24);
  will-change: transform;
}

.project-card h3 {
  font-size: 1.2rem;
  color: oklch(84.42% 0.19 202.24);
  margin-bottom: 10px;
}

.project-card p {
  color: #cccccc;
  flex-grow: 1;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 12px 0;
}

.project-tech span {
  background-color: rgba(8, 7, 8, 0.5);
  color: white;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.75rem;
}

.project-links {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.project-links a {
  color: #ff66cc;
  text-decoration: underline;
  font-size: 0.85rem;
}

/* Светлая тема */
body.light .project-card {
  background-color: #f4f4f4;
  color: #111;
}

body.light .project-tech span {
  background-color: #d1b3ff;
  color: #4b0082;
}

body.light .project-card p {
  color: #333;
}

.frame-buttons {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
}

.frame-buttons span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.frame-buttons .red {
  background: #ff56f4;
}
.frame-buttons .yellow {
  background: #ffbd2e;
}
.frame-buttons .green {
  background: #06f4f4;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons a {
  background: rgba(84, 108, 255, 0.1); /* rgba от твоего цвета */
  color: rgba(84, 108, 255, 1);
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s;
}

.buttons a:hover {
  background: rgba(84, 108, 255, 0.3);
}

.projects-carousel-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  overflow: visible;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.arrow.next {
  right: -30px;
}

.arrow.prev {
  left: -30px;
}
.slick-slide {
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
  transform: scale(0.8);
  filter: blur(2px);
  pointer-events: none;
  z-index: 1;
  /* padding: 0 12px; */
  overflow: visible;
}

.slick-center {
  opacity: 1 !important;
  transform: scale(1) !important;
  filter: none !important;
  pointer-events: auto;
  z-index: 2;
  padding: 0px;
}
.slick-center .project-card {
  box-shadow: 0 0 20px oklch(84.42% 0.19 202.24);
}
.slick-track {
  display: flex;
  align-items: stretch;
  overflow: visible;
  /* transform: translateX(-15px) !important; */
}
.slick-list {
  height: 650px;
  /* overflow: visible !important; */
  padding: 35px 0 35px 10px !important;
  /* margin-left: -10px; */
}
.icon-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 12px;
  color: white;
}

.icon {
  color: white;
  width: 50px;
  height: 50px;
  transition: filter 0.3s ease;
  filter: grayscale(100%) brightness(0.9);
}
.icon-sun {
  color: white;
  width: 20px;
  height: 20px;
  transition: filter 0.3s ease;
  filter: grayscale(100%) brightness(0.9);
}
.icon-moon {
  color: white;
  width: 20px;
  height: 20px;
  transition: filter 0.3s ease;
  filter: grayscale(100%) brightness(0.9);
}

.icon:hover {
  filter: none;
  filter: drop-shadow(0 0 5px oklch(84.42% 0.19 202.24));
}

.animated-title {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.5rem;
  font-weight: bold;
  color: oklch(84.42% 0.19 202.24); /* твой синий */
  margin-bottom: 40px;
  justify-content: center;
}

.letter {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUpFade 0.8s ease-out forwards;
}

@keyframes slideUpFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
