.App {
  text-align: center;
}

.App-logo {
  justify-content: left;
  align-items: left;
  pointer-events: none;
}

body {
  background: url("../public/images/background-dark.jpg") no-repeat center
    center fixed;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
}

/* 🌙 Тёмная тема */
.dark body {
  background: url("../public/images/background-dark.jpg") no-repeat center
    center fixed;
  background-size: cover;
  color: white;
}

/* ☀️ Светлая тема */
.light body {
  background: url("../public/images/background-light.jpg") no-repeat center
    center fixed;
  background-size: cover;
  color: black important!;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
