.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  justify-content: left;
  align-items: left;

  pointer-events: none;
}
body {
  background: url("../public/images/background-dark.jpg") no-repeat center
    center fixed;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s ease;
}
:root.dark body {
  background-color: #0d0d0d;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
